html,
body {
	overflow-x: hidden;
	/* Prevent scroll on narrow devices */
}
body {
	padding-top: 56px;
	font-family: 'Lora', Georgia, serif;
}
.navbar-brand img {
	width: 22px;
}

/**/

pre {
	word-break: break-word;
	word-wrap: break-word;
	hyphens: auto;
	white-space: pre-wrap
}
main h2 {
	font-size: 45px;
	margin-bottom: 0.75em
}
h3 {
	font-size: 35px
}
blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eee;
	overflow: hidden
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
strong {
	font-weight: bold
}

/* links */

a {
	color: #337ab7;
	text-decoration: none;
	transition: all .5s;
}
header a {
	color: #212529;
}
header a:hover {
	color: #444;
	text-decoration: none;
}
main hr {
	margin: 33px 0 40px 0
}
main section {
	overflow: hidden
}
main img.float-left {
	margin-right: 40px
}
main img.float-right {
	margin-left: 40px
}
a.navbar-brand img {
	transition: all .5s;
}
a.navbar-brand:hover img {
	box-shadow: 0 0 5px rgba(255, 255, 255, .8);
	border-radius: 50%
}

/* header */

header {
	display: block;
	width: 100%;
	text-align: center;
	background: url("/assets/images/header.jpg") no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover
}
header .headline {
	padding: 30px 0
}
header h1,
header h2 {
	background: #fff;
	background: rgba(255, 255, 255, 0.9)
}
header h1 {
	font-size: 50px
}
header h2 {
	font-size: 25px
}
footer address {
	font-size: .9rem
}

/**/

p.back-to-top {
	font-size: 2.5em;
	opacity: 0.25;
	margin-top: 1em;
	float: right;
	color: #777
}
p.back-to-top a:hover {
	text-decoration: none
}
p.quote {
	position: relative;
	padding: 0.5em 2em 0.5em 3.5em;
	text-align: center;
	margin: 1.5em 0;
	overflow: hidden
}
p.quote:before {
	display: block;
	content: "\201C";
	line-height: 1;
	font-size: 6em;
	font-family: Georgia, "Times New Roman", Times, serif;
	position: absolute;
	left: 0;
	top: -0.1em;
	color: #ddd
}
.intro {
	margin-top: 40px;
	line-height: 2em;
	font-size: 17.5px
}
.intro mark {
	background: aquamarine
}
main section:nth-of-type(4) img {
	opacity: 0.5;
	max-width: 135px
}
i.fa.fa-creative-commons {
	font-size: 21px
}
.home main:not(.post) img {
	border-radius: 50%;
	height: auto;
	max-width: 100%;
	margin-bottom: 3rem
}
.social li {
	list-style-type: none;
	display: inline-block;
	margin: 1em;
	font-size: .8rem
}
.text-muted,
main h2 span {
	color: #777
}
.text-white-50 {
	color: rgba(255, 255, 255, .5);
}
.bg-purple {
	background-color: #6f42c1;
}
.lh-100 {
	line-height: 1;
}
.lh-125 {
	line-height: 1.25;
}
.lh-150 {
	line-height: 1.5;
}

/* isotope */

.grid-item,
.grid-item--width2,
.grid-sizer {
	width: 100%
}
.grid-item {
	display: flex
}
.item-content {
	width: 100%;
	padding: 1.5rem 1.5rem .75rem 1.5rem;
	margin: .75rem;
	box-shadow: 5px 7px 50px rgba(0, 0, 0, .1);
	border: 1px solid #ececec;
	transition: padding .5s;
}
#grid img {
	max-width: 100%
}
.meta {
	opacity: 0;
	transition: all .5s;
	margin: -1rem -1.5rem 0 -1.5rem;
	padding: 0 1.5rem .5rem 1.5rem;
	font-size: .8rem;
	color: rgba(0, 0, 0, .4);
}
.item-content:hover .meta {
	opacity: 1;
	margin: .75rem -1.5rem 0 -1.5rem;
}
.navbar-light .navbar-nav .nav-link.is-checked {
	color: rgba(0, 0, 0, .7)
}
.error .navbar-nav {
	display: none
}
@media only screen and (min-width:768px) {
	.grid-item,
	.grid-sizer {
		width: 50%
	}
	.grid-item--width2 {
		width: 100%
	}
}
@media only screen and (min-width:992px) {
	.grid-item,
	.grid-sizer {
		width: 33.3333%
	}
	.grid-item--width2 {
		width: 66.6666%
	}
}
@media only screen and (min-width:1200px) {
	/*.grid-item,
	.grid-sizer {
		width: 25%
	}
	.grid-item--width2 {
		width: 50%
	}*/
}

/* media queries */

@media (max-width: 991.98px) {
	.offcanvas-collapse {
		position: fixed;
		top: 56px;
		/* Height of navbar */
		bottom: 0;
		left: 100%;
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
		overflow-y: auto;
		visibility: hidden;
		background-color: #343a40;
		transition-timing-function: ease-in-out;
		transition-duration: .3s;
		transition-property: left, visibility;
	}
	.offcanvas-collapse.open {
		left: 0;
		visibility: visible;
	}
}
@media (min-width: 425px) {
	.home header h1 {
		font-size: 70px
	}
	.home header h2 {
		font-size: 32px
	}
}
@media (min-width: 768px) {
	.home header h1 {
		font-size: 105px
	}
	.home header h2 {
		font-size: 50px
	}
	.home main:not(.post) img {
		max-width: 50%;
		margin-bottom: 0
	}
}
@media (min-width: 992px) {
	.home header .headline {
		padding: 120px 0
	}
	.home header h1 {
		font-size: 130px
	}
	.home header h2 {
		font-size: 63px
	}
	.home main:not(.post) img {
		width: 500px;
	}
}
